In [1]:
import pandas as pd

In [12]:
os.chdir('c:\\Users\\Jesse\\OneDrive\\Documenten\\Master BAOR\\Thesis\\GitHub\\dicra\\analytics\\geospatial_internship\\datasets')
os.getcwd()

'c:\\Users\\Jesse\\OneDrive\\Documenten\\Master BAOR\\Thesis\\GitHub\\dicra\\analytics\\geospatial_internship\\datasets'

In [16]:
fires_data=pd.read_csv('telangana_fires.csv')
fires_data.head()

,fireID,latitude,longitude,brightness,scan,track,acq_date,acq_time,satellite,instrument,confidence,version,bright_t31,frp,daynight,type
0,0,18.3777,80.5314,318.6,1.0,1.0,02/01/15,802,Aqua,MODIS,69,6.03,302.6,7.7,D,0
1,1,17.5898,80.9893,315.4,1.2,1.1,04/01/15,750,Aqua,MODIS,59,6.03,299.5,8.8,D,0
2,2,17.6028,81.1612,311.8,1.2,1.1,05/01/15,527,Terra,MODIS,46,6.03,299.8,6.0,D,0
3,3,17.5241,80.3135,317.0,1.1,1.0,05/01/15,527,Terra,MODIS,69,6.03,302.0,9.3,D,0
4,4,17.7571,80.3404,317.2,2.5,1.5,05/01/15,833,Aqua,MODIS,53,6.03,300.0,29.3,D,0

In [17]:
fires_data.columns

Index(['fireID', 'latitude', 'longitude', 'brightness', 'scan', 'track',
       'acq_date', 'acq_time', 'satellite', 'instrument', 'confidence',
       'version', 'bright_t31', 'frp', 'daynight', 'type'],
      dtype='object')